.skin\:do {
	--bullet: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAASklEQVQYV2NkwALOhLr8N1m9hxFdCkMAphCbBhTF6ArRNcAV41KIrAGsGJfV6OKM2BQim4YsT5rJsOAh2s2ENMDkyQ9ndBvQYxAAdnaCcBsn+6wAAAAASUVORK5CYII=');
	--color-1: #fee;
	--color-button: #fff;
	--color-code: #fff;
	--color-input: #554;
	--color-link-1: #e73;
	--color-link-2: #e73;
	--color-link: #c53;
	--color-title-link-1: #e73;
	--color-title-link-2: #e73;
	--color-title-link: #c53;
	--color-title: inherit;
	--color: #554;
	--face-1: Tahoma, Geneva, Verdana, sans-serif;
	--face-2: "Courier New", Courier, monospace;
	--face: Tahoma, Geneva, Verdana, sans-serif;
	--fill-1: #c54;
	--fill-2: #fff;
	--fill-alert: rgba(204, 204, 204, 0.5);
	--fill-button: #c43 linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
	--fill-code: #554;
	--fill-input: #fff linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
	--fill-mark: #dde;
	--fill: #c43;
	--stroke-1: #c54;
	--stroke-alert: rgba(0, 0, 0, 0.5);
	--stroke-input: #b43;
	--stroke: #a43;
}