.skin\:mr {
  --bullet: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAASklEQVQYV2NkwAJmzuz4n55ewYguhSEAU4hNA4pidIXoGuCKcSlE1gBWjMtqdHFGbAqRTUOWJ81kWPAQ7WZCGmDy5Iczug3oMQgA7DOCxQs/NDwAAAAASUVORK5CYII=');
  --color-1: #ffe;
  --color-button: #fff;
  --color-code: #fff;
  --color-input: #555;
  --color-link-1: #bba;
  --color-link-2: #bba;
  --color-link: #998;
  --color-title-link-1: #bba;
  --color-title-link-2: #bba;
  --color-title-link: #998;
  --color-title: inherit;
  --color: #555;
  --face-1: Tahoma, Geneva, Verdana, sans-serif;
  --face-2: 'Courier New', Courier, monospace;
  --face: Tahoma, Geneva, Verdana, sans-serif;
  --fill-1: #ccb;
  --fill-2: #fff;
  --fill-alert: rgba(204, 204, 204, 0.5);
  --fill-button: #bba linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
  --fill-code: #555;
  --fill-input: #fff linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
  --fill-mark: #eee;
  --fill: #bba;
  --stroke-1: #ccb;
  --stroke-alert: rgba(0, 0, 0, 0.5);
  --stroke-input: #998;
  --stroke: #998;
}