.skin\:mx {
	--bullet: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAASklEQVQYV2NkwAJcOt7931MhxIguhSEAU4hNA4pidIXoGuCKcSlE1gBWjMtqdHFGbAqRTUOWJ81kWPAQ7WZCGmDy5Iczug3oMQgA63iCxXdHmM0AAAAASUVORK5CYII=');
	--color-1: #eef;
	--color-button: #fff;
	--color-code: #fff;
	--color-input: #554;
	--color-link-1: #69c;
	--color-link-2: #69c;
	--color-link: #47c;
	--color-title-link-1: #69c;
	--color-title-link-2: #69c;
	--color-title-link: #47c;
	--color-title: inherit;
	--color: #554;
	--face-1: Tahoma, Geneva, Verdana, sans-serif;
	--face-2: "Courier New", Courier, monospace;
	--face: Tahoma, Geneva, Verdana, sans-serif;
	--fill-1: #48e;
	--fill-2: #fff;
	--fill-alert: rgba(204, 204, 204, 0.5);
	--fill-button: #47c linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
	--fill-code: #554;
	--fill-input: #fff linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0));
	--fill-mark: #dde;
	--fill: #47c;
	--stroke-1: #48e;
	--stroke-alert: rgba(0, 0, 0, 0.5);
	--stroke-input: #36a;
	--stroke: #46a;
}