.skin\:wo {
  --color-1: #eee;
  --color-button: #fff;
  --color-code: #fff;
  --color-input: #555;
  --color-link-1: #999;
  --color-link-2: #999;
  --color-link: #777;
  --color-title-link-1: #999;
  --color-title-link-2: #999;
  --color-title-link: #777;
  --color-title: inherit;
  --color: #555;
  --face-1: 'Courier New', Courier, monospace;
  --face: Tahoma, Geneva, Verdana, sans-serif;
  --fill-1: #666;
  --fill-2: #fff;
  --fill-alert: rgba(204, 204, 204, 0.5);
  --fill-button: #444 linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.025));
  --fill-code: #555;
  --fill-input: #fff linear-gradient(rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0));
  --fill-mark: #eee;
  --fill: #444;
  --icon-bullet: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAASklEQVQYV2NkwALS0tL+z5o1ixFdCkMAphCbBhTF6ArRNcAV41KIrAGsGJfV6OKM2BQim4YsT5rJsOAh2s2ENMDkyQ9ndBvQYxAALwKCPaP2Y14AAAAASUVORK5CYII=');
  --stroke-1: #666;
  --stroke-alert: rgba(0, 0, 0, 0.5);
  --stroke-input: #aaa;
  --stroke: #555;
}