@mixin search {
  search {
    display: block;
    input {
      flex: 1;
      min-width: 0;
      + button {
        flex: initial;
      }
    }
    p {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}