[role='doc-toc'] {
  [role='heading'] {
    padding-left: 1.15rem;
  }
  [role='doc-pagelist'] {
    li {
      &::after,
      &::before {
        border-color: var(--stroke, #000);
      }
      &:last-child {
        &::after {
          background: var(--fill-2, #fff);
        }
      }
    }
  }
}